.collapsed .content,.collapsed .detail, .hidden{
display:none;
}

.postControl, .newPostButtonHolder{
margin-bottom:1em;
padding:2px;
display:flex;
flex-flow: column nowrap;
background-color:lightPink;
border:1px dashed red;
}

.active, .newPostButtonHolder{
background-color:palegreen;
border:1px solid black;
}

.subsection {
margin-bottom:0.5em;
}

.main{
display:flex;
justify-content: space-between;
flex-flow: row nowrap;
}

.postControl input, .postControl textArea {
border:none;
background-color:rgba(0, 0, 0, 0.15);
}

.main input {
width:100%;
}

.detail {
display:flex;
flex-flow: row nowrap;
align-items:center;
}

.detailGroup {
display:flex;
flex-flow : column nowrap;
align-content: space-between;
}

.iconPart {
	box-sizing:border-box;
	width: 5em; height: 5em;
	margin: 2px;
	border: 5px outset grey;
	cursor:pointer;
}

.homepagePart,.activePart,.datePart {
	border:2px outset grey;
	margin:2px;
	cursor:pointer;
}

.datePart input{
	border: none;
}


.activePart::after{content:"no";}
.active .activePart::after {content:"yes";}

.homepagePart::after{content:"yes";}
.notForHomePage .homepagePart::after{content:"no";}


.content{
padding-left:1em;
}

.insertPanel {
	display:flex;
	flex-flow : row nowrap;
	width:100%;
	justify-content: space-between;
}

.bodyItem {
display:flex;
flex-flow: row nowrap;
justify-content: space-between;
align-items: flex-start;

margin-top:2px;
margin-bottom:2px;
position:relative;
border-top:1px solid black;
border-bottom:1px solid black;
}

.bodyItem  img {
max-height:5em;
}
.bodyContent {
flex-basis:100%;
} 

.content textArea {
	box-sizing:border-box;
	border:none;
	resize: vertical;
	width:100%;
}



.iconMenu {
	position:fixed;
	top:50%; left:50%; transform: translateX(-50%) translateY(-50%);
	width:60%; height:60%;
	background-color: rgba(80, 80, 80, 0.8);
	color:white;
	border : 1px solid black;
}

.iconMenu img {
	box-sizing:border-box;
	width: 5em; height: 5em;
	margin: 3px;
	border: 5px outset grey;
	cursor:pointer;
	display:inline-block;
}
