.primeControl {
	display:flex;
	flex-flow: column nowrap;
	margin-bottom:1em;
	padding:3px;
	border:1px solid black;
	font-size:small;
}
.primeControl>div {
	margin-top:0.2em;
	margin-bottom:0.2em;
	display:flex;
	flex-flow:  row nowrap;
	align-items: center;
}
.primeControl>div>button {
	flex-basis:8em;
	flex-shrink:0;
	margin-right: 0.5em;
}

#controlHolder {
display:flex;
flex-flow: column-reverse nowrap;
}

.postControl {
margin-bottom:1em;
padding:3px;
display:flex;
flex-flow: column nowrap;
background-color:lightPink;
border:1px dashed red;
}
.active {
background-color:palegreen;
border:1px solid black;
}
.postControl input, .postControl textArea {
border:none;
border-bottom:1px dotted black;
background-color:rgba(0, 0, 0, 0.15);
}


.subsection {
margin-bottom:0.5em;
}

.main{
display:flex;
flex-flow: row nowrap;
}
.main>div {
	flex-basis:100%;
	flex-shrink:1;
	display:flex;
	flex-flow: row nowrap;
	justify-content:flex-end;
	align-items: center;
}
.main>div>input {
	flex-basis:100%;
}

.detail {
display:flex;
flex-flow: row nowrap;
align-items:center;
}
.detailGroup {
display:flex;
flex-flow : column nowrap;
align-content: space-between;
}
.iconPart {
	box-sizing:border-box;
	width: 5em; height: 5em;
	margin: 2px;
	border: 5px outset grey;
	cursor:pointer;
}
.homepagePart,.activePart,.datePart {
	border:2px outset grey;
	margin:2px;
	cursor:pointer;
}
.datePart input{
	border: none;
}
.activePart::after{content:"no";}
.active .activePart::after {content:"yes";}
.homepagePart::after{content:"yes";}
.notForHomePage .homepagePart::after{content:"no";}

.content{
padding-left:1em;
}
.insertPanel {
	display:flex;
	flex-flow : row nowrap;
	width:100%;
	justify-content: space-between;
}
.bodyItem {
display:flex;
flex-flow: row nowrap;
justify-content: space-between;
align-items: flex-start;

margin-top:2px;
margin-bottom:2px;
position:relative;
border-top:1px solid black;
border-bottom:1px solid black;
}
.bodyItem  img {
max-height:5em;
}
.bodyContent {
flex-basis:100%;
} 
.content textArea {
	box-sizing:border-box;
	border:none;
	resize: vertical;
	width:100%;
}

.iconMenu {
	position:fixed;
	top:50%; left:50%; transform: translateX(-50%) translateY(-50%);
	width:60%; height:60%;
	background-color: rgba(80, 80, 80, 0.8);
	color:white;
	padding : 3px;
}
.iconMenu img {
	box-sizing:border-box;
	width: 5em; height: 5em;
	margin: 3px;
	border: 5px outset grey;
	cursor:pointer;
	display:inline-block;
}

.collapsed .content,.collapsed .detail, .hidden{
display:none;
}