
.thumbNailHolder{
position:relative;
display:inline-block;
float:left;
}

.thumbNailHolder:last-of-type .mainImageToggle{
 display:none;
}

.thumbNail {
position:relative;
display:inline-block;
width:50px;
height:50px;
margin:5px;
padding:5px;
cursor:pointer;
}

.thumbNail img{
position:absolute;
top:0px;left:0px;
width:100%;
max-height:100%;
}

.mainImageToggle {
margin:1px;
text-align:center;
cursor:pointer;
line-height:0.9;
}

.untoggled{color:grey;}
.toggled{color:black; font-weight:bold;}



.uploadControl .thumbNail, .added  .thumbNail{
border: 2px dashed palegreen;
}

.current .thumbNail{
border:2px solid black;
}

.deleted  .thumbNail{
border:2px dashed red;
opacity:0.5;
}

.current .thumbNail:hover, .added .thumbNail:hover {
border:2px dashed red;
}

.hiddenFileInput {
display:none;
}


.disabled {
	opacity: 0.6;
	cursor: not-allowed;
}

form input,textarea{
width:60%;
}
form [type=color]{
width:4em;
}

section div {
clear:both;
margin-bottom:4px;
}
section {
border-bottom: 3px solid black;
padding-bottom: 6px;
}