.newsPost {
	clear : right;
	padding-top:2px;
	padding-bottom:2px;
	margin-top:0.5em;
	border-top: 1px dotted black;
	border-bottom: 1px dotted black;
}
.newsPost::after ,.postImage::after{
	content: "";
	clear: both;
	display: table;
}


.postBanner{
	height:4em;
}

.postBanner h2 {
	margin-top:0px;
	margin-Bottom:0px;
}

.postDate{
	font-weight:bold;
}

.postIcon {
	float:right;
	max-height:4em;
	border: 4px outset gray;
	box-sizing:border-box;
}

.postImage {
	max-height:6em;
	position:relative;
	display:block;
	left:50%;
	transform:translateX(-50%);
}
