
.thumbNailHolder{
position:relative;
float:left;
display:inline-block;
height:9em;
width:5em;
margin:0.25em;
background-color:lightgrey;
box-sizing:border-box;
}

.swapping .swapButton {
background-color:yellow;
}

.mainImageToggle,.moveControl,.thumbNail {
text-align:center;
cursor:pointer;
box-sizing:border-box;
position:absolute;
display:inline-block;
}

.thumbNail {
top:0.25em;
left:0.25em;
width:4.5em;
height:4.5em;
margin:0em;
background-color:white;
text-align:right;
}

.thumbNail img{
position: absolute;
top: 0px;
left: 0px;
width:100%;
max-height:100%;
}

.mainImageToggle {
top: 5em;
width:100%;
}

.moveControl {
top: 7em;
width:100%;
}

.thumbNailHolder:last-of-type .mainImageToggle{display:none;}
.thumbNailHolder:last-of-type .moveControl{display:none;}
.notMainPic .mainImageToggle{color:grey;}
.mainPic .mainImageToggle{color:black; font-weight:bold;}



.uploadControl .thumbNail, .added  .thumbNail{
border: 2px dashed palegreen;
}

.current .thumbNail{
border:2px solid black;
}

.deleted  .thumbNail{
border:2px dashed red;
opacity:0.5;
}

.current .thumbNail:hover, .added .thumbNail:hover {
border:2px dashed red;
}

.hiddenFileInput {
display:none;
}




.disabled {
	opacity: 0.6;
	cursor: not-allowed;
}

form input,textarea{
width:60%;
}
form [type=color]{
width:4em;
}

section>div {
clear:both;
margin-bottom:14px;
}
section {
border-bottom: 3px solid black;
padding-bottom: 6px;
}