<main>
	<img src = "/images/aboutImage.jpg"/></img>
	
	<p>This is the about page. The main content is static. I am using a template for this. This is the about page. The main content is static. I am using a template for this. This is the about page. The main content is static. I am using a template for this. This is the about page. The main content is static. I am using a template for this. This is the about page. The main content is static. I am using a template for this.</p>
	<p>The repository for this site template is at <a href = "https://github.com/dblatcher/GallerySite.git">https://github.com/dblatcher/GallerySite.git</a></p>
	<p>The sample title image on the homepage is from blickpixel on pixabay. See his profile <a href="https://pixabay.com/en/users/blickpixel-52945/">here</a>.</p>


</main>
