<main>
	<img src = "/images/aboutImage.jpg"/></img>
	
	<p>DBlatcher is a full-stack JavaScript developer from the UK. He doesn't take very good pictures.</p>
	<p>The site is hand-coded in NodeJS, express, SASS and vanilla JavaScript. The repository for this site is at <a href = "https://github.com/dblatcher/GallerySite.git">https://github.com/dblatcher/GallerySite.git</a>. Feel free to fork it and create your own version or get in touch if you need help.</p>
	<p>The awesome lego minfigs images are from blickpixel on pixabay. See his profile <a href="https://pixabay.com/en/users/blickpixel-52945/">here</a>.</p>


</main>
