<main>

<div class = banner>
	<div class = banner-text>
		<p>Welcome to <%=siteSettings.siteName%></p>
	</div>
</div>

<div class = after-banner>
	<p>A place for hashtag-free photography! Go to the <a href = '/gallery'>the galleries page</a> to see what's on display.</p>
	
	<% if (posts.length > 0) {  %>
		<% for(var j = posts.length-1; j > -1; j--) { %>
			<% if (posts[j].active && !posts[j].notForHomepage) { %>
				<%- include("../parts/post", {post: posts[j]}); %>
				<% break; %>
			<% } %>
		<% } %>
	<% } %>
	
	<%- include("../parts/galleryPanel", {}); %>
	
	<p>I'm not actually a photographer - my interest is mainly in web development, which was why I built this site. If you've ever wanted a website for your own pictures that you can update with new galleries and news within the browser (no coding needed), then consider checking the  <a href = '/about'>about page</a> for more information.</p>

</div>

</main>