<main>
	<h2>News Room</h2>
	
	<div class = 'primeControl'>
		<p>Use this page to control the news posts that appear on your site.</p>
		<div>
			<button onclick = "resetControls()">RESET</button>
			<span>undo all changes made since this page was opened</span>
		</div>
		<div>
			<button onclick = "publishChangesToServer()">PUBLISH</button>
			<span>Publish all post data to the site</span>
		</div>
		<div>
			<button onclick = "addNewPostControl()" >NEW POST</button>
			<span>New posts don't appear on site by default</span>
		</div>
		<p>No updates will be saved unless you publish them. You can save an unfinished post by marking it to not appear on the site, then publishing your changes. </p>
		
	</div>
	
	<div id = "controlHolder">
	</div>
		
</main>

	<div class = "iconMenu hidden">
		<p>choose post's icon</p>
	
		<% for (var av=0; av<siteSettings.avatarPics.length; av ++ ){ %>	
		<img src="<%=siteSettings.avatarPics[av]%>" onclick = "handleIconSelect(this)"/>
		<% } %>
		
		<p>upload new</p>
		<input type='file'></input>
		<button>upload</button>
	</div>

<div class = 'modal modalHidden' id = 'waitMessage'>
	<p>Saving to server...</p>
</div>

<div style = "display:none" id = "dataHolder" originalData = "<%=JSON.stringify(posts)%>"; >
</div>

<div style = "display:none" id = 'templateStore'>

	<section class = 'templatePostControl'>
		<div class="subsection main">
			<button onclick="handleClassToggleClick(this,'collapsed')">>></button>
			<button onclick="handleMoveControl(this,'up')">&#8593</button>
			<button onclick="handleMoveControl(this,'down')">&#8595</button>
			<button onclick="handleDeletePost(this,'collapsed')">DELETE POST</button>
			<div>
				<span>Title:</span>
				<input type="text"></input>
			</div>
		</div>
		
		<div class="subsection detail">
			<img class="iconPart" onclick="handleIconClick(this)" />
			<div class = "detailGroup">
				<div class="activePart" onclick="handleClassToggleClick(this,'active')">appear on site:</div>
				<div class="homepagePart" onclick="handleClassToggleClick(this,'notForHomePage')">can show on homepage:</div>
				<div class="datePart"><span>Post Date:</span><input type="date" /></div>
			</div>
		</div>
		
		<div class="subsection content">
		</div>
	</section>

	<div class = "templateInsertPanel">
		<button onclick="handleNewBodyClick(this,'p')">add new paragraph</button>
		<button onclick="handleNewBodyClick(this,'img')">add new image</button>
	</div>

	<div class = "templateBodyItem">
		<div class="bodyContent"></div>
		<button onclick="handleDeleteBodyClick(this)">X</button>
	</div>
	
</div>

