<main>
	<h2>News Room</h2>
	
	<div id = "controlHolder">
	</div>
	
	<div class="newPostButtonHolder">
	<button onclick = "addNewPostControl()" >add new post</button>
	</div>
	
</main>

<div class = "iconMenu hidden">
	<p>choose post's icon<p>
	<img src="images/king-profile.png"  onclick = "handleIconSelect(this)"/>
	<img src="images/blank-profile.png" onclick = "handleIconSelect(this)"/>
	<p>upload new<p>
	<input type='file'></input>
	<button>upload</button>
</div>

<div style = "display:none" id = "dataHolder" originalData = "<%=JSON.stringify(posts)%>"; >
</div>

<div style = "display:none" id = 'templateStore'>

	<section class = 'templatePostControl'>
		<div class="subsection main">
			<button onclick="handleClassToggleClick(this,'collapsed')">>></button>
			<button onclick="handleMoveControl(this,'up')">UP</button>
			<button onclick="handleMoveControl(this,'down')">DOWN</button>
			<button onclick="handleDeletePost(this,'collapsed')">DELETE POST</button>
			<span>Post Title:</span>
			<div >
				<input type="text"></input>
			</div>
		</div>
		
		<div class="subsection detail">
			<img class="iconPart" onclick="handleIconClick(this)" />
			<div class = "detailGroup">
				<div class="activePart" onclick="handleClassToggleClick(this,'active')">appear on site:</div>
				<div class="homepagePart" onclick="handleClassToggleClick(this,'notForHomePage')">can show on homepage:</div>
				<div class="datePart"><span>Post Date:</span><input type="date" /></div>
			</div>
		</div>
		
		<div class="subsection content">
		</div>
	</section>

	<div class = "templateInsertPanel">
		<button onclick="handleNewBodyClick(this,'p')">add new paragraph</button>
		<button onclick="handleNewBodyClick(this,'img')">add new image</button>
	</div>

	<div class = "templateBodyItem">
		<div class="bodyContent"></div>
		<button onclick="handleDeleteBodyClick(this)">X</button>
	</div>
	
</div>

