<!doctype html>
<html lang="en-UK">
<head>
	<title><%=siteSettings.siteName%></title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
 
	<link rel="stylesheet" href="/css/style-main.css" />
	
</head>

<body>
	<header>
		<% include parts/header %>
	</header>
	<div class="headSpacer"></div>
		
	<main>
		<p>This is the about page. The main content is static.</p>
		<p>The repository for this site template is at <a href = "https://github.com/dblatcher/GallerySite.git">https://github.com/dblatcher/GallerySite.git</a></p>
	</main>

	<footer>
		<% include parts/footer %>
	</footer>
</body>

</html>
	