<!doctype html>
<html lang="en-UK">
<head>
	<title>error</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
 
	<link rel="stylesheet" href="../css/style-main.css" />
	
</head>

<body>
	<header>
		<% include parts/header %>
	</header>
	<div class="headSpacer"></div>
		
	<main>
		<h2>ERROR!</h2>
		<p><%=errorMessage%></p>
	</main>

	<footer>
		<% include parts/footer %>
	</footer>
</body>

</html>
	