<!doctype html>
<html lang="en-UK">

<head>
	<title><%=siteSettings.siteName%></title>
	<% include parts/metatags %>
 
	<link rel="stylesheet" href="/css/style-main.css" />

	
</head>

<body>
	<% include parts/header %>
		
	<main>
		<h2>ERROR!</h2>
		<p><%=errorMessage%></p>
	</main>


	<% include parts/footer %>
</body>

</html>
	