<!doctype html>
<html lang="en-UK">
<head>
	<title><%=gallery.title%></title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
 
	<link rel="stylesheet" href="../css/style-main.css" />
	<link rel="stylesheet" href="../css/style-gallery.css" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	
</head>

<body>
	<header>
		<% include parts/header %>
	</header>
	<div class="headSpacer"></div>
		
	<main>	
		<h2><%=gallery.title%></h2>

			<% for(var i=0; i<gallery.picture.length;i++){%>
				<img class = "mainImage hidden" src = "../<%=gallery.path%><%=gallery.picture[i] %>" ></img>
			<%}%>

		
		<div id="backButton" class="button">
			<i class="material-icons">arrow_back_ios</i>
		</div>
		
		<div id="forwardButton" class="button">
			<i  class="material-icons">arrow_forward_ios</i>
		</div>
		
		
	</main>

	<footer>
		<% include parts/footer %>
	</footer>
  
	<script src="https://cdn.polyfill.io/v2/polyfill.js"></script>
	<script src="../js/galleryScript.js"></script>
	
</body>

</html>
	