<!doctype html>
<html lang="en-UK">

<head>
	<title><%=siteSettings.siteName%></title>
	<% include parts/metatags %>
	<link rel="stylesheet" href="/css/style-main.css" />
	<%for(var i = 0; i < styleSheets.length; i++ ){ %>
	<link rel="stylesheet" href="/css/<%=styleSheets[i]%>" />
	<%}%>
</head>

<body>
	<% include parts/header %>
	<%- include("mains/"+content) %>
	<% include parts/footer %>
</body>

</html>
	