<header>
	<h1><%=siteSettings.siteName%></h1>
	<nav>
		<ul>
			<% for(var i=0; i<navBar.length;i++){%>				
				<%if (navBar[i].title) { %>
					<li><a href=<%=navBar[i].path%>><%=navBar[i].title%></a></li>
				<% } %>
			<%}%>
		</ul>
	</nav>
	<%if(username) {%>
		<div class = 'loggedInMessage'>logged in as: <%=username%><a href="/logout"> log out</a></div>
	<%}%>
</header>

<div class="headSpacer"></div>