footer {
position:fixed;
text-align:center;
box-sizing:border-box;
bottom:0em;
width:100%;
left:0%;
margin:0px;
padding:0px;

height:$footer-height;

display:flex;
flex-flow:row nowrap;
justify-content:flex-end;
}