$header-height: 3em;
$footer-height: 1.6em;
$width-for-dropdown: 520px;

$margin-main: 10px;

$shadow-size:3px;
$shadow-color:#02020270;

$theme-page:#FFFFFF;
$theme-light-shade:#FDCD6D;
$theme-dark-shade:#9C6902;
$theme-ink:#352609;

$admin-page:#FCFCFC;
$admin-light-shade:#BDCFFE;
$admin-dark-shade:#0143F9;
$admin-ink:#060F28;

$fonts-main : Arial, sans-serif;

