$header-height: 3em;
$footer-height: 1.5em;
$width-for-dropdown: 520px;
$main-color:darkcyan;
$secondary-color:cyan;
$admin-color:goldenRod;
$admin-color-bg:lightGoldenRodYellow;

$fonts-main : Arial, Helvetica, sans-serif;