header{
display: flex;
flex-flow: row nowrap;
justify-content: space-between;
align-items: center;

white-space: nowrap; 
position:fixed;
top:0px; left:0px; width:100%;
z-index:10;

box-sizing:border-box;

height: $header-height;
background-color:$main-color;
border-bottom: 1px solid black;
}

.loggedInMessage{
white-space: nowrap; overflow: hidden;
position:fixed;
top:$header-height; left:0em;
padding-left:0.5em;
height: 1em;
z-index:10;
opacity:0.75;
background-color:$secondary-color;
border: 1px solid black;
}