header{
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;

	white-space: nowrap; 
	position:fixed;
	top:0px; left:0px; width:100%;
	z-index:10;

	box-sizing:border-box;

	a {
		text-decoration:none;
	}
	
	height: $header-height;
}

.headerSpacer {
	height:$header-height;
}

