@media screen and (max-width: $width-for-dropdown - 1px) {
	.onBar { display:none;}
}
@media screen and (min-width: $width-for-dropdown) {
	.dropDown {display:none;}
	.menuButton {display:none;}
}

nav ul {
	list-style-type: none;
}
nav a {
	text-decoration: none;
}



.menuButton {
margin-right:0.5em;
padding:4px;
font-size:x-large;
font-weight:bold;
cursor:pointer;
flex-shrink:0;
}

.dropDown  {
	position:fixed;
	z-index:9;
	right:0px;
	width:10em;
	transition: top 0.5s;
	top:-100%;
	transform : translateY($header-height);
}

.dropDown ul {
display: flex;
flex-flow: column nowrap;
margin:0px;
right:0px;
}

.dropDown a {
	display:block;
	line-height:150%;
	font-size:large;
	text-align:center;
}

.onBar {
	height:$header-height;
	align-self:flex-end;
	flex-shrink:0.1;
	flex-basis:10em;
	ul{
		padding:0px;
		font-size:small;
	}
}

.onBar ul {
	margin:0px;
	height:inherit;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	justify-content: flex-end;
	align-items: flex-end;
}

	
.onBar a{
	margin-right:0.75em;
	line-height:150%;
	border-radius:2px;
}
.onBar .currentPageLink {font-weight:bold;}
