@import 'globals';

.newsPost+.newsPost{
	border-top: 5px outset $secondary-color;
	padding-top: 1em;
}

.newsPost>p{
	text-align:justify;
}

.postBanner{
	display:flex;
	background-color: $secondary-color;
	img {
		max-height:3em;
		flex-shrink:0;
		align-self:center;
		box-sizing:border-box;
		margin:3px;
	}
}

.bannerText {
	flex-basis:100%;
	display:flex;
	flex-flow:column wrap;
	justify-content:space-evenly;
	
	p{ font-size:small;}
	h2{ font-size:medium;}	
		
	h2,p {
		place-self: center;
		margin-top:0px;
		margin-Bottom:0px;
		font-weight:normal;
	}
	
	>div{
		display:flex;
		flex-flow:row;
		justify-content:space-evenly;
	}
	
}


.postImage {
	max-height:6em;
	position:relative;
	display:block;
	left:50%;
	transform:translateX(-50%);
}
