.primeControl {
	display:flex;
	flex-flow: column nowrap;
	margin-bottom:1em;
	padding:3px;
	border:1px solid black;
	font-size:small;
	
	>div {
		margin-top:0.2em;
		margin-bottom:0.2em;
		display:flex;
		flex-flow:  row nowrap;
		align-items: center;

		>button {
			flex-basis:8em;
			flex-shrink:0;
			margin-right: 0.5em;
		}

	}
	
}

#controlHolder {
display:flex;
flex-flow: column-reverse nowrap;
}

.postControl {
	margin-bottom:1em;
	padding:3px;
	display:flex;
	flex-flow: column nowrap;
	background-color:lightPink;
	border:1px dashed red;

	input, textArea {
		border:none;
		background-color:rgba(0, 0, 0, 0.15);
	}
}
.active {
background-color:palegreen;
border:1px solid black;
}

.subsection {
margin-bottom:0.5em;
}

.main{
display:flex;
flex-flow: row nowrap;
	
	>div {
		flex-basis:100%;
		flex-shrink:1;
		display:flex;
		flex-flow: row nowrap;
		justify-content:flex-end;
		align-items: center;
	
		>input {
			flex-basis:100%;
		}

	}
}

.collapsing{
	transition: max-height 0.5s;
	overflow: hidden;
	max-height:200vh;
}

.collapsed .collapsing {
	max-height:0vh;
}


.detail {
display:flex;
flex-flow: row nowrap;
align-items:center;
}
.detailGroup {
	display:flex;
	height: 5em;
	flex-flow : column wrap;
	align-content: space-between;
	div {
		border:2px outset grey;
		margin:2px;
		cursor:pointer;
	}
}
.iconPart {
	box-sizing:border-box;
	width: 5em; height: 5em;
	margin: 2px;
	border: 5px outset grey;
	cursor:pointer;
}


.activePart::after{content:"no";}
.active .activePart::after {content:"yes";}
.homepagePart::after{content:"yes";}
.notForHomePage .homepagePart::after{content:"no";}

.content{
padding-left:1em;
}
.insertPanel {
	display:flex;
	flex-flow : row nowrap;
	width:100%;
	justify-content: space-between;
}
.bodyItem {
	display:flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: flex-start;

	margin-top:4px;
	margin-bottom:4px;
	padding-top:4px;
	padding-bottom:4px;
	position:relative;
	border-top:2px solid black;
	border-bottom:2px solid black;
	
	.bodyContent {
	flex-basis:100%;
	display:flex;
	flex-flow:column;
	
	div{
		display:flex;
	}
	.flexForImage {
		justify-content:center;
	}
	} 
	img {
		margin-top:4px;
		max-height:5em;
	}
	.urlInput{
		text-decoration:underline;
	}
	textArea {
		margin-bottom:4px;
		resize: vertical;
		flex-basis:100%;
	}
	span{
		font-size:small;
		flex-basis:3em;
		flex-shrink:0;
	}
	
}

.iconMenu,.imageMenu {
	background-color: white;
	padding : 3px;
	margin-right:10px;
	margin-left:10px;
	img {
		box-sizing:border-box;
		width: 5em; height: 5em;
		margin: 3px;
		border: 5px outset grey;
		cursor:pointer;
		display:inline-block;
	}	
}
#avatarUploadErrorMessage {
	color:red;
	min-height:2em;
}

.hidden{
display:none;
}