@import 'globals';

$margin-home: 8px;

body {
	margin:0px;
}

.after-banner {
	margin-left:$margin-home;
	margin-right:$margin-home;
}

main{
	box-sizing:border-box;
	height:100vh;
	position:relative;
	overflow:scroll;
}

.banner {
	background-image: url("/images/titleImage.jpg");
	height: 50vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
.banner-text {
	text-align: center;
	position: absolute;
	padding-left:0.5em;
	padding-right:0.5em;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	background-color : rgba(0, 0, 0, 0.3);
	font-size:x-large;
}

.newsPost {
	border-left: $margin-home/2 solid $theme-dark-shade;
	padding-left: $margin-home;
}

.galleryPanel {
	background-color:$theme-light-shade;
	padding: 3px;
	float : right;
	max-width:25%;
	position:relative;
	margin-left: $margin-home;
	
	p {
		text-decoration: none;
		color:$main-ink;
	}
	img {
		max-height: 7em;
		max-width: 100%;
		margin-right:2px;
		float:left;
	}
}

