@import 'globals';
@import 'navMenu';
@import 'headerfunctional';
@import 'footerfunctional';

* {
	font-family: $fonts-main;
}

body{
	background-color: $theme-page;
	color:$theme-ink;
	text-align:justify;
}

header{
	background-color:$theme-light-shade;
}

header h1 {
	color:$theme-dark-shade;
	text-shadow: $theme-ink 1px 1px;
	margin-left:0.25em;
}

.dropDown a,.loggedInMessage {
	background-color:$theme-light-shade;
	border:1px solid $theme-ink;
}
.dropDown .currentPageLink {background-color:$theme-dark-shade;}
nav a:hover{background-color:$theme-dark-shade;}
nav a { color:$theme-ink; }


main {
padding-top: $header-height;
padding-bottom:$footer-height + 0.5em;
}

footer {
background-color:$theme-ink;
color:$theme-light-shade;
height:$footer-height;
}