@import 'globals';
@import 'navMenu';
@import 'headerfunctional';
@import 'footerfunctional';

* {
	font-family: $fonts-main;
}

body{
	background-color: $admin-page;
	color:$admin-ink;
	text-align:justify;
}

header{
background-color:$admin-light-shade;
}

header h1 {
	color:$admin-dark-shade;
	text-shadow:1px 1px $admin-ink;
	margin-left:0.25em;
}

.dropDown a {
	background-color:$admin-light-shade;
	border:1px solid $admin-ink;
}
.dropDown .currentPageLink {background-color:$admin-dark-shade;}
nav a:hover{background-color:$admin-dark-shade;}
nav a { color:$admin-ink; }


footer {
	background-color:$admin-ink;
	color:$admin-light-shade;
	height:$footer-height;
	a {
		color:$admin-page;
	}
}