@import 'globals';

body {
	margin:0px;
}

.after-banner {
	margin-left:$margin-main;
	margin-right:$margin-main;
}

main{
	box-sizing:border-box;
	height:100vh;
	position:relative;
	overflow:scroll;
}

.banner {
	background-image: url("/images/titleImage.jpg");
	height: 50vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
.banner-text {
	text-align: center;
	position: absolute;
	padding-left:0.5em;
	padding-right:0.5em;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	background-color : rgba(0, 0, 0, 0.3);
	font-size:x-large;
}

.galleryPanel {
	float : right;
	
	position:relative;
	
	background-color:$theme-light-shade;
	padding: $margin-main;
	margin-left: $margin-main;
	box-shadow:$shadow-size $shadow-size $shadow-color;
	border-radius:2px;
	
	display:flex;
	flex-flow: column nowrap;
	align-items:center;
	justify-content:center;
	
	span {
		text-decoration: none;
		color:$theme-ink;
		max-width:25vw;
	}
	div {
		min-height:7em;
		min-width:7em;
		flex-basis:5em;
		background-repeat:no-repeat;
		background-size:contain;
		background-position:center;
	}

}

