@import 'globals';
@import 'navMenu';
@import 'headerfunctional';
@import 'footerfunctional';

* {
	font-family: $fonts-main;
}

body{
	background-color: $theme-page;
	color:$theme-ink;
	text-align:justify;
}

header{
	color: $theme-page;
	background-color:$theme-dark-shade;
	box-shadow:$shadow-size $shadow-size $shadow-color;
	h1 {
		color: $theme-page;
		font-variant:small-caps;
		margin-left: $margin-main;
	}
	a {
		color: $theme-page;
	}
}

.dropDown a {
	color:$theme-page;
	background-color:$theme-dark-shade;
	border-bottom:2px solid $theme-ink;
	border-right:2px solid $theme-ink;
	border-left:2px solid $theme-ink;
}

.dropDown .currentPageLink,nav a:hover {
	color:$theme-page;
	background-color:$theme-ink;
}


main {
	padding-bottom:$footer-height + 0.5em;
}

footer {
	background-color:$theme-ink;
	color:$theme-light-shade;
	height:$footer-height;
	a {
		color:$theme-page;
	}
}