@import 'globals';


.galleryList {
	display:flex;
	flex-flow:row wrap;
	justify-content: center;
}

.galleryListItem {
	text-decoration:none;
	position:relative;
	
	margin: $margin-main;
	box-sizing:border-box;
	padding:$margin-main/2;
	box-shadow: $shadow-size $shadow-size $shadow-color;
	border-radius:$shadow-size;
}


.textFlex {
	display:flex;
	flex-flow:column nowrap;
	min-height:8em;
	align-items: center;
	h2,p{
		font-weight:normal;
		margin:0px;
		text-align:center;
		color:$theme-ink;
	}
	h2{
		font-variant:small-caps;
	}
}



@media screen and (max-width: $width-for-dropdown - 1px) {
	.galleryListItem { flex-basis:100%;}
}
@media screen and (min-width: $width-for-dropdown) {
	.galleryListItem {flex-basis:44%;}
}

@media screen and (min-width: $width-for-dropdown*1.5) {
	.galleryListItem {flex-basis:30%;}
}

@media screen and (min-width: $width-for-dropdown*2) {
	.galleryListItem {flex-basis:21%;}
}


.imageBox{
	position:absolute;
	left:0px;
	top:0px;
	box-sizing:border-box;
	height:100%;
	width:100%;
	background-color:$theme-light-shade;
	
	background-size: auto 95%;
	background-position:center;
	background-repeat:no-repeat;
	z-index:-1;
	opacity:0.4;
	transition:1s;
}


	.galleryListItem:hover .imageBox {
		background-size: auto 150%;
		opacity:0.6;
	}	

